<div class="contariner air">
  <div class="row">
    <div class="col-md-3 mx-auto">
      <%= form_with(model: course, url: admins_courses_path, local: true) do |form| %>
        <% if course.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

            <ul>
            <% course.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field form-group">
          <%= form.label :name %>
          <%= form.text_field :name, id: :course_name, class: 'form-control'  %>
        </div>

        <div class="field form-group">
          <%= form.label :category %>
          <%= form.text_field :category, id: :course_category, class: 'form-control'  %>
        </div>

        <div class="field form-group">
          <%= form.label :profesor %>
          <%= form.select :profesor, User.pluck(:email, :id), class: 'form-control' %>
        </div>

        <div class="actions ">
          <%= form.submit 'Crear Curso', class: 'btn btn-primary btn-lg mt-5' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
