<div class="row">
  <div class="col-md-6 offset-md-3">
    <table class="table table-responsive-sm">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Asignatura</th>
          <th></th>
          <th></th>

        </tr>
      </thead>

      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td><%= course.name %></td>
            <td><%= course.category %></td>
            </td>

            <td>
              <button type="button" class="btn btn-outline-success">
                <%= link_to 'Edit', edit_course_path(course) %>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-danger">
                <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <button type="button" class="btn btn-outline-primary">
       <%= link_to 'New Course', new_admins_course_path %>
    </button>
  </div>
