<div class="container air">

  <table class="table table-bordered mx-auto tablestyle">
    <thead class="thead-dark">
      <tr>
        <th colspan="5"><h1 class="text-center" style="color:white">Cursos</h1> </th>

      </tr>
    </thead>

    <tbody>
      <tr>
        <th>Name</th>
        <th>Category</th>

      </tr>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.name %></td>
          <td><%= course.category %></td>
          <td><%= link_to 'Mostrar', admins_course_path(course), class: 'btn btn-primary btn-block' %></td>
          <td><%= link_to 'Editar', edit_admins_course_path(course), class: 'btn btn-primary btn-block' %></td>
          <td><%= link_to 'Destruir', admins_course_path(course), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Crear nuevo curso', new_admins_course_path, class: 'btn btn-primary' %>
  <%= link_to 'Volver', admins_path, class: 'btn btn-primary  '  %>

</div>
