<div class="container air">
  <h1 class="edit text-center"> <%= @course.name %></h1>



  <table class="table table-bordered tablestyle">
    <thead class="thead-dark">
      <tr>
        <th colspan="4">
          <h4 class="text-center mt-2">Profesor</h4>
        </th>
      </tr>
    </thead>

    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Correo</th>
      <th></th>
    </tr>
    <tbody>
      <% @profesor.each do |i| %>
        <tr>
          <td><%= i.user.firstname %></td>
          <td><%= i.user.lastname %></td>
          <td><%= i.user.email %></td>
          <td style="width: 50px"><a href="<%= admins_inscription_path(i) %>" data-method="DELETE" class="btn btn-danger btn-block">X</a></td>
        </tr>
      <% end %>
    </tbody>
    <thead class="thead-dark">
      <tr><th colspan="4"><h4 class="text-center mt-2">Ayudantes</h3></th></tr>
    </thead>
    <tbody>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th></th>
      </tr>
      <% @asistants.each do |i| %>
        <tr>
          <td><%= i.user.firstname %></td>
          <td><%= i.user.lastname %></td>
          <td><%= i.user.email %></td>
          <td style="width: 50px"><a href="<%= admins_inscription_path(i) %>" data-method="DELETE" class="btn btn-danger btn-block">X</a></td>
        </tr>
      <% end %>
    </tbody>
    <thead class="thead-dark">
      <tr><th colspan="4"><h4 class="text-center mt-2">Alumnos</h3></th></tr>
    </thead>
    <tbody>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th></th>
      </tr>
      <% @students.each do |i| %>
        <tr>
          <td><%= i.user.firstname %></td>
          <td><%= i.user.lastname %></td>
          <td><%= i.user.email %></td>
          <td style="width: 50px"><a href="<%= admins_inscription_path(i) %>" data-method="DELETE" class="btn btn-danger btn-block">X</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Volver', admins_courses_path, class: 'btn btn-primary btn-block' %>
</div>
