<div class="container air">
  <div class="row">
    <div class="col-md-6 offset-md-3" >
      <table class="table table-bordered tablestyle">
        <thead class="thead-dark">
          <tr>
            <th class="text-center" colspan="2">
              Cursos Inscritos
            </th>
          </tr>
          <tr>
            <th>Name</th>
            <th class="text-center">Options</th>

          </tr>

        </thead>

        <tbody>
          <% @inscriptions.each do |i| %>
            <tr>
              <td><%= i.course.name %></td>
              <td>
                <%= link_to 'Ir a Clases', course_path(i.course_id), class: 'btn btn-dark' %>
                <%= link_to 'Informacion', info_course_path(i.course_id), class: 'btn btn-dark' %>
                <% if i.teacher? %>
                  <%= link_to 'Transmitir', init_transmission_course_path(i.course), class: 'btn btn-primary'  %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Volver', root_path, class: 'btn btn-secondary btn-block' %>
    </div>
  </div>
</div>
