<div class="row">
  <div class="col-md-6 offset-md-3">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Grades </th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |inscription| %>
        <tr>
          <th scope="row">1</th>
          <td>
            <%= Course.find(inscription.course_id).name.capitalize! %>
          </td>
          <td>
            <button type="button" class="btn btn-outline-primary">
              <%= link_to 'Ir a Clases', course_path(inscription.course_id) %>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-primary">
              <%= link_to 'Ayudantes', inscription_ayudantes_path(inscription.course_id) %>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-primary">
              <%= link_to 'Alumnos', inscription_alumnos_path(inscription.course_id) %>
            </button>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <button type="button" class="btn btn-outline-success">
      <%= link_to 'Index', root_path %>
    </button>
  </div>
</div>
