<div class="container air">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Asignatura</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.name %></td>
              <td><%= course.category %></td>
              <td> <%= link_to 'Transmitir', init_transmission_course_path(course) %> </td>
              <td><%= link_to 'Mostrar', course_info_path(course.id), class: 'btn btn-primary btn-block' %></td>
              <td><%= link_to 'Inscribirme', inscription_new_path(course.id), class: 'btn btn-primary btn-block' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
