<div class="container-fluid">
  <div class="container pb-5">
   <div class="row">
     <div class="col-lg-12 mt-4 mb-2 text-center">
         <h1>Equipo</h1>
     </div>
     <div class="col-lg-12 text-center">
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
     </div>
     <div class="col-lg-12 text-center">
       <div class="row py-5">
        <!-- Back End -->
         <div class="col-lg-4">
           <img src="https://dummyimage.com/300/e6e6e6/fff" alt="" class="img-fluid rounded-circle">
           <h4 class="pt-4">Equipo Back-End</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
         </div>
         <!-- Equipo Streaming -->
         <div class="col-lg-4">
           <img src="https://dummyimage.com/300/e6e6e6/fff" alt="" class="img-fluid rounded-circle">
           <h4 class="pt-4">Equipo Streaming</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
         </div>
         <!-- Equipo Front-End -->
         <div class="col-lg-4">
           <img src="https://dummyimage.com/300/e6e6e6/fff" alt="" class="img-fluid rounded-circle">
           <h4 class="pt-4">Equipo Front-End</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>



<!-- <div class="row">
  <div class="col-md-6">
    <table class="table table-responsive-sm">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Asignatura</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td><%= course.name %></td>
            <td><%= course.category %></td>
            <td>

                <button type="button" class="btn btn-outline-primary">
                  <%= link_to 'Transmitir', init_transmission_course_path(course) %>
                </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-success">
                <%= link_to 'Show', course %>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-success">
                <%= link_to 'Edit', edit_course_path(course) %>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-danger">
                <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <button type="button" class="btn btn-outline-primary">
       <%= link_to 'New Course', new_admins_course_path %>
    </button>
  </div>
  <div class="col-md-6">
    <div class="media">
      <img class="align-self-end mr-3" src="https://78.media.tumblr.com/avatar_fb5b06218ae8_128.gif" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">Bottom-aligned media</h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
    <br>
    <div class="media">
      <img class="align-self-end mr-3" src="https://a.wattpad.com/useravatar/Mrotterv2.128.486884.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">Bottom-aligned media</h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div>
</div> -->
