<div class="container air">
  <p>Curso: <%= @course.name %></p>
  <p>Categoria: <%= @course.category %></p>
  <p>Fecha de inicio: <%= @course.created_at %></p>
  <%= link_to 'Volver', courses_path, class: 'btn btn-secondary ' %>

  <table class="table table-bordered tablestyle">
    <tr><th colspan="3"><h4 class="text-center mt-2">Profesor</h3></th></tr>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Correo</th>
    </tr>
    <% @profesor.each do |i| %>
      <tr>
        <td><%= i.user.firstname %></td>
        <td><%= i.user.lastname %></td>
        <td><%= i.user.email %></td>
      </tr>
    <% end %>
    <tr><th colspan="3"><h4 class="text-center mt-2">Ayudantes</h3></th></tr>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Correo</th>
    </tr>
    <% @asistants.each do |i| %>
      <tr>
        <td><%= i.user.firstname %></td>
        <td><%= i.user.lastname %></td>
        <td><%= i.user.email %></td>
      </tr>
    <% end %>
    <tr><th colspan="3"><h4 class="text-center mt-2">Alumnos</h3></th></tr>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Correo</th>
    </tr>
    <% @students.each do |i| %>
      <tr>
        <td><%= i.user.firstname %></td>
        <td><%= i.user.lastname %></td>
        <td><%= i.user.email %></td>
      </tr>
    <% end %>
  </table>

</div>
